#header {
    background-color: lightblue;
}
#navigation {
    background-color: lightgoldenrodyellow;
}
#content {
    background-color: lightsalmon;
}

img.mini {
   max-width: 120px; 
}

#sidebar {
    background-color: lightyellow;
}
#footer {
    background-color: lightgray;
}

.btn-primary {
    background-image: linear-gradient(to bottom, #ff7ab7 0px, #005a88 100%);
    background-repeat: repeat-x;
    border-color: #245580;
}