#header {
    background-color: lightblue;
}
#navigation {
    background-color: lightgoldenrodyellow;
}
#content {
    background-color: lightsalmon;
}

img.mini {
   max-width: 120px; 
}

#sidebar {
    background-color: limegreen;
}
#footer {
    background-color: lightgray;
}